// Colors and theming

$primary: #464BFF;
$success: #006459;
$warm: #FCF5F3;
$black: #000000;

// Blue Gray 
$gray-100: #eae5f1;
$gray-200: #cec9d5;
$gray-300: #aaa4b3;
$gray-400: #918a9a;
$gray-500: #545159;
$gray-600: #444147;
$gray-700: #343237;
$gray-800: #222122;
$gray-900: #1f1f1f;

//Background image

$login-bg: '/Assets/images/bg_image.png';

// Spacing sizes
$spaceamounts: ('auto', 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100 );

// Spacing sides
$sides: ('top', 'right', 'bottom', 'left', 'x', 'y');

// Border radius
$radius: (0, 1, 2, 3, 4);
