.btn{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1rem;
    @extend .b-radius-4, .fw-bold, .p-10;
    border-bottom-right-radius: 0;
    cursor: pointer;
    transition: background-color .2s ease-out;
    &-primary{
        background-color: $primary;
        color: white;
        &:hover{
            background-color: lighten($primary, $amount: 5%);
        }
        &:active, &:focus{
            background-color: darken($primary, $amount: 10%);
        }
    }
}